body {
  /* background-color: #32323e; */
}

html {
  line-height: 1.15;
}

.App {
  background-color: #32323e;
  height: 100vh;
  width: 100%;
  /* overflow-x: hidden; */
}

main {
  padding: 2rem;
  margin-top: -16px;
}